@charset "utf-8";
/* CSS Document */

.bg-light {background-color: #7D87FB ;}

.navbar {background-color: #7D87FB; }

.navbar-expand-lg {background-color: #7D87FB ; }

.navbar-light {background-color: #7D87FB }
 
.navbar-brand { background-color:#7D87FB}
 
.collapse {background-color: #7D87FB;}

.navbar-collapse {background-color: #7D87FB; }

.img-thumbnail {background-color: goldenrod}

.col-md-6 {background-color: #7D87FB; }

.container {background-color: #7D87FB ; }

.body {background-color: #6574B9;}




